{% load static %}

<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap.css.map" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-grid.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-grid.css.map" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-reboot.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-reboot.css.map" %}">

<link rel="stylesheet" href="{% static "css/styles.css" %}">