body {
    background-color: #e7e7e7;
}

#post-title {
    margin: 2rem auto 3rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 90rem;
    border-radius: 16px;
    background: linear-gradient(to right top, #a39f9f, #000000);
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: 22rem;
}

#post-title h2 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 0.25rem;
}

#post-title article {
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-align: right;
    color: white;
}

#post-title article img {
    width: 12rem;
    height: 12rem;
    border-radius: 12px;
    border: 5px solid white;
    margin-bottom: 2rem;
    margin-top: -0.5rem;
}

#post-title address {
    font-weight: bold;
}

#post-title a {
    color: white;
    text-decoration: none;
}

#post-title time {
    font-weight: bold;
}

#post-content {
    width: 90%;
    max-width: 90rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#post-comments {
    width: 90%;
    max-width: 90rem;
    margin: 3rem auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 2rem;
}

#post-comment {
    width: 90%;
    max-width: 90rem;
    margin: 0.5rem 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

#post-comment:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
    font-style: italic;
}

#post-comment-button {
    margin: 0 2rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}