{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Task
{% endblock title %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <div class="flex-center">
            <div class="card" style="width: 30rem;">
                <div class="card-header">
                    <b>New Task</b>
                </div>
                <div class="card-body">
                  {% for field in form %}
                    <div class="input-group mb-3" >
                        {% if field.value is None %}
                            <input required name="{{field.name}}" type="text" class="form-control" placeholder="{{field.label}}">
                        {% else %}
                            <input required name="{{field.name}}" type="text" class="form-control" placeholder="{{field.label}}" value="{{field.value}}">
                        {% endif %}
                    </div>
                  {% endfor %}
                
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button id="gap-button" class="btn btn-success" type="submit">Save</button>
                      <button id="gap-button" class="btn btn-secondary" type="button" onclick="location.href='{% url 'url-tasks' %}'">Cancel</button>
                  </div>
                </div>
            </div>
        </div>
    </form>
{% endblock body %}