{% extends "base.html" %}
{% load static %}

{% block body %}

    <div class="flex-center">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Are you sure to delete the entire task list ?
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 1rem;" >
                    <button id="gap-button" class="btn btn-danger" type="button" onclick="location.href='{% url 'url-delete-tasks' %}'">Delete</button>
                    <button id="gap-button" class="btn btn-secondary" type="button" style="margin-right:0" onclick="location.href='{% url 'url-tasks' %}'">Cancel</button>
                </div>
            </div>
        </form>
    </div>
  
{% endblock body %}